[Unit]
Description=projectBackups
After=network.target

[Service]
ExecStart=/bin/bash /usr/local/bin/projectBackups.sh
ExecSrop=
Type=forking


[Install]
WantedBy=multi-user.target